@import "../variables.scss";

.page-items {
    .card {
        background-color: $tertiary-color !important;
        border-radius: $card-border-radius !important;
        margin-bottom: 20px;

        .display-over-top-right {
            position: absolute;
            align-items: flex-end;
            top: 5px;
            right: 5px;
        }

        .display-over-top-left {
            position: absolute;
            align-items: flex-start;
            top: 5px;
            left: 5px;
        }

        .card-img-holder {
            width: 100%;
            height: 300px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;

            img {
                min-height: 100%;
                min-width: 100%;
                aspect-ratio: 16/9;

                // Browser compatibilities
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                opacity: 0;
            }
        }

        .card-title {
            color: $secondary-color;
        }

        .card-body {
            min-height: 3em;
        }

        .vstack .card-link {
            margin-left: 0 !important;
        }
    }
}