/**
 * ------------------
 *   Root Variables
 * ------------------
 **/

$root-font-family: Arial, Verdana, Sans-Serif, Roboto, "Times New Roman", Oxygen-Sans, Cantarell, "Helvetica Neue", -apple-system, BlinkMacSystemFont;
$site-font-family: $root-font-family;
$h1-font-family: Verdana, $site-font-family;
$site-font-size: calc(14px + 0.390625vw);
$h1-font-size: 180%;
$h2-font-size: 140%;
$h3-font-size: 105%;
$brand-font-size: 155%;

$primary-color: #000000;
$secondary-color: #ffffff;
$secondary-color-muted: #0c2525;
$tertiary-color: #081818;
$link-color: #9fffff;
$alt-link-color:#fff99f;
$alt2-link-color:#ffbd9f;
$card-background-color: $secondary-color;

$card-border-radius: 12px;
